<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>doctors</title>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header-wrapper">
        <div class="circle">
            <img src="/public/assets/mom.jpg" alt="" id="image">
        </div>
        <div class="home">

            <p id="home"><a href="/index" target="blank">Home</a></p>
        </div>
        <div class="account">
            <p id="account">
                <a href="account" target="_blank"> Create account</a>
            </p>
        </div>

    </div>
    <!--html form-->
    <p id="create" class="beauty">Update Profile</p>
    <form action="#" class="form">
        <label for="username"class="beauty" id="user" >User Name:</label><br>
        <input type="text" placeholder="enter user name" class="danat" id="box1"><br>
        <label for="phone" class="beauty" id="phone">Phone <br> Number:</label><br>
        <input type="tel" placeholder="enter phone number" class="danat" id="box2"><br>
        <label for="email" class="beauty" id="email">Email:</label><br>
        <input type="email" placeholder="Email" class="danat" id="box3"><br>
        <label for="month of pregnancy"class="beauty" id="month" >experience:</label><br>
        <input type="number" placeholder="duration" class="danat" id="box4" ><br>
        <label for="address"class="beauty" id="address" >Address:</label><br>
        <input type="text" placeholder="Address" class="danat" id="box5" br>
        <label for="hospital name" class="beauty" id="hospital">Hospital <br> Name:</label><br>
        <input type="text" placeholder="hospital" class="danat" id="box6" br>
        <label for="id"class="beauty" id="doctor" >Doctor ID:</label><br>
        <input type="tel" placeholder="Doctor ID" class="danat" id="box7" br>
        
        <label for="password" class="beauty" id="passd">Password:</label><br>
        <input type="password" placeholder="password" id="box8" class="danat"><br>
        <button id="submit"><a href="upload.html" target="blank">save</a></button>

    </form>
</body>
</html>