<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>our site</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <!--header-->
    <div class="header-wrapper">
        <div class="circle">
            <img src="mom.jpg" alt="" id="image">
<!--<p id="logo">LOGO</p>-->
        </div>
        <div class="home">
<p id="home"><a href="index.html" target="blank">Home</a></p>
        </div>
        <div class="account">
            <p id="account">
                <a href="index.html" target="_blank"> Create Account</a>
            </p>
        </div>

    </div>
    <!--next part-->
    <div class="one">
        <p id="care"><strong>WELCOME!   We care for you</strong></p>

    </div>
    <div class="two">
        Here, we treat and care for patients like our family!
    </div>
    <div class="three">

    </div>
    <!--doctor and patients-->
    <div class="doctor">
<p id="doc">

    <a href="doctor.html" target="_blank"> Doctors</a>
</p>
    </div>
    <div class="patients">
<p id="patients">
    <a href="patients.html" target="_blank"> User</a>
</p>
    </div>
</body>
</html>